* {
  margin: 0;
  padding: 0;
}

body {
    background-color: antiquewhite;
}

#root {
  display: flex;
  justify-content: center;
  height: 90vh;
  display: flex;
  align-items: center;
}

nav {
  height: 2.5rem;
  background-color: yellow;
  border-bottom: 1px solid goldenrod;
}

.main {
  width: 49%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.main > h1 {
  font-size: 3rem;
}

.main > p {
  font-size: 1.5rem;
  color: darkgreen;
  line-height: 2.2rem;
  a {
    color: darkblue;
  }
}
